[Unit]
Description=Prometheus Node Exporter
Wants=network-online.target
After=network-online.target
 
[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/usr/local/bin/node_exporter --web.listen-address={{ node_exporter_interface }}:9100 --collector.systemd --collector.processes
 
[Install]
WantedBy=multi-user.target
